/*this is my styles sheet*/
* {
font-family:Arial, Helvetica, sans-serif;
}

#bg { background-image: url(https://drive.google.com/uc?id=0B6HcEl1I72V1MmRNRThpWW9kRmc);
background-repeat: no-repeat; /* don't tile the image */
background-position: center;
background-size:cover;
height: 900px;
    }

h1 {color:#000000;
text-align:right;
font-size:40px;}


body
{
background-color:#003366;
margin-bottom:100px;
margin-right:100px;
margin-left:100px;
}

P { text-align: center }
h1 { text-align: center; margin-top:0; }

.container {
    padding: 10px;/*width: 90%;
    padding-left: 100px;
    padding-top:50px;
    padding-bottom: 50px;
    margin: 10px, auto 10px, auto;
    /* top, right, bottom, left */
    background:#ffffff;
}

/*a:hover { border-style:solid; */
border-color:#98bf21;}

a.portfolio {
    position: relative;
    top: 375px; /* or whatever the vertical pixel position is above the canvas */
    left: 180px; /* or whatever the horizontal pixel position is above the canvas */
    font-weight:bold;
    color:#ffffff;
}
a.resume {
    position: relative;
    top: 170px; /* or whatever the vertical pixel position is above the canvas */
    left: 495px; /* or whatever the horizontal pixel position is above the canvas */
    font-weight:bold;
    color:#ffffff;
}
a.contact2 {
    position: relative;
    top: 260px; /* or whatever the vertical pixel position is above the canvas */
    left: 960px; /* or whatever the horizontal pixel position is above the canvas */
    font-weight:bold;
    color:#ffffff;
}
a.articles{
    position: relative;
    top: 370px; /* or whatever the vertical pixel position is above the canvas */
    left: 660px; /* or whatever the horizontal pixel position is above the canvas */
    font-weight:bold;
    color:#000000;
}


/* li {
    list-style-type:none;
} 
*/
