/*this is my styles sheet*/
* {
font-family:Arial, Helvetica, sans-serif;
}

#bg { background-image: url(https://doc-04-4s-docs.googleusercontent.com/docs/securesc/p52d00b4t6ppsquckeqvdfm2je30aon2/e8mdint4m60blb8d6slhkd920u27pfcr/1394575200000/01836357751205858553/01836357751205858553/0B6HcEl1I72V1Z3pqc2dwUHRXbVU?h=04987144412459713847);
background-repeat: no-repeat; /* don't tile the image */
background-position: center;
background-size:cover;}

h1 {color:#ffffff;
float:right;
font-size:40px;}

body
{
background-color:#003366;
margin-bottom:100px;
margin-right:100px;
margin-left:100px;
}

P { text-align: center }
h1 { text-align: center; margin-top:0; }

#wrapper {
    width: 1000px;
    margin: 10px auto 10px auto;
    /* top, right, bottom, left */
    background:#ffffff;
}

a:hover { border-style:solid;
border-color:#98bf21;}

li {
    list-style-type:none;
}
